* {
	font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #646464;
}

.headShot {
  width: 120px;
  height: 120px;
  margin-top: 20px;
  border-radius: 100%;
  text-align: left;
}

.myName {
   font-size: 3.5em;
   font-weight: 300;
   margin: 50px 0px -10px 0px;

}

.myTitle {
   margin: 20px 0px -10px 0px;
}

hr {
  border-width: 3px;
  border-top-color: #646464;
}
.jumboImg {
   box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.featureText {
  color: #B4B4B4;
  margin: 25px 0px 15px 0px;
}

.featureImg {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.featureImg:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}

a.linkText {
  text-decoration: none;
  color: #646464;
}

.visit-btn,
.visit-btn:hover,
.visit-btn:focus,
.visit-btn:visited {
  color: rgb(100, 100, 100);
  text-decoration: none
}

h3.linkText {
  margin-top: 15px;
  margin-bottom: 30px;
  color: #646464;
}
h3.linkText:hover {
  color: #B4B4B4;
}

.footerImg {
  width: 40px;
  height: 40px;
  margin: -10px 0px 10px 0px;
}

@media (max-width: 991px) {
  .myName {
    margin: 20px 0px -0px 0px;
  }

  .myTitle {
    margin: 10px 0px -0px 0px;
  }
  .headImage {
  	text-align: center;
  }
  .headText {
    text-align: center;
  }
  .featureImg {
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  }
}