/* below xs */
@media only screen and (max-width: 480px)  {
  .logo-type p {
    display: none;
  }
  .logo-img {
    display: block;
  }
  #splash-typed-container {
    font-size: 35px;
  }
  .fa.fa-heart {
    font-size: 28px;
  }
  #to-about-btn {
    margin-top: 75px;
  }
  .about {
    padding-top: 30px !important;
  }
  }
  .contact-interior {
    padding-top: 100px;
  }
  #contact-typed-container {
    font-size: 28px;
  }
}


/* below sm */
@media only screen and (max-width: 768px)  {

}


/* below md */
@media only screen and (max-width: 992px)  {
  .about {
    padding: 100px 0;
  }
}


/* below lg */
@media only screen and (max-width: 1200px)  {
  #tech-svg {
    display: none;
  }
  .splash {
    background: url(../images/splash.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  section.contact {
    background: url(../images/contact.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}